<template>
  <div class="foldable form-container">
    <div class="foldable-header form-container" @click="toggle()">
      <span class="label">{{ label }}</span>
      <span class="arrow">{{ expanded ? '⋀' : '⋁'}}</span>
    </div>
    <div class="foldable-body form-container" v-show="expanded">
      <slot></slot>
    </div>
    <RemoveButton
      v-if="removeTarget != undefined"
      @click="emit('unset');"
    />
  </div>
</template>

<style scoped>
.foldable {
  border: solid var(--secondary-color) 1px;
  margin: .5em 0;
  box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.4);
}
.foldable-header {
  background-color: var(--secondary-color);
  padding: .2em 1em .2em 0em;
  cursor: pointer;
}
.foldable-header > span.label {
  grid-column: 1 / -2;
}
.foldable-header > span.arrow {
  grid-column: -2 / -1;
  text-align: right;
  font-size: large;
}

.foldable-body {
  padding: .3em;
}

.remove-button {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
</style>

<script setup>
import {
  defineProps,
  ref,
} from 'vue';

import RemoveButton from '@/components/input/widgets_general/RemoveButton.vue';

const props = defineProps(['label', 'removeTarget']);
const expanded = ref(false);

const emit = defineEmits(['fold', 'unfold', 'unset']);

function toggle() {
 expanded.value =  !expanded.value;
  emit(expanded.value ? 'unfold' : 'fold');
}
</script>

<script>
export default {
  name: 'Foldable',
  components: {
    RemoveButton,
  }
};
</script>
