<!-- adapated from CodePen :
    Vue Fuzzy Search - Ranked, Sorted, & Highlighted
    by Steven Brannum @sdbrannum@codepen.io

Copyright (c) 2023 - Steven Brannum - https://codepen.io/sdbrannum/pen/QWLpYEY
Copyright (c) 2023 - Fabien André, USACcgt

Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without restriction,
 including without limitation the rights to use, copy, modify,
merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall
be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
DEALINGS IN THE SOFTWARE.

-->

<!-- eslint-disable vuejs-accessibility/label-has-for -->
<!-- eslint-disable vue/require-v-for-key -->
<!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->

<template>
<div>
  <label>
    {{ prompt}}
    <input type="search" v-model="query" :placeholder="placeholder">
  </label>
  <div class="box">
    <ol>
      <!-- TODO provide mode switching through property -->
      <!-- <li v-for="(todo, idx) in rankedAndSortedItems">
        <label @click="$emit('idxSelected',todo.idx)">
          <template v-for="(letter, idx) in todo.text.split('')">
            <mark v-if="todo.positions.includes(idx)">{{ letter }}</mark>
            <span v-else>{{ letter }}</span>
          </template>
        </label>
      </li> -->
      <li v-for="todo in rankedAndSortedItems" class="fuzzy-result">
        <label @click="$emit('idxSelected',todo.idx)" class="fuzzy-result" :title="todo.item.title">
          {{todo.item.label}}
        </label>
      </li>
      <li class="no-results" v-show="rankedAndSortedItems.length < 1">No results found</li>
    </ol>
  </div>
</div>
</template>

<style scoped>

:root {
  --grey-500: #A0AEC0;
  --grey-900: #1A202C;
  --teal-200: #38B2AC;
  --teal-400: #4FD1C5;
  --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@mixin shadow-sm {
  box-shadow: var(--shadow-sm);
}
@mixin shadow-md {
  box-shadow: var(shadow-md);
}

input {
  @include shadow-md;
  display: block;
  width: 100%;
  height: calc(1em + 1.5rem + 2px);
  padding: 0.75rem 1rem;
  -webkit-appearance: none;
  border: 1px solid var(--white);
  border-radius: 2px;
  &:focus {
    box-shadow: var(--shadow-lg);
    outline: none;
  }
}

.title {
  color: white;
  font-size: 2.5rem;
  margin: 0.5rem 0rem;
  text-align: center;
}

.box {
  margin: 0.5rem 0;
  padding: 0.25rem 1rem;
  border-radius: 3px;
}

ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
  > li {
    padding: .25rem 0rem;
    color: var(--grey-900);

    &.no-results {
      color: var(--grey-500);
      text-align: center;
    }
  }
}

.sr-only {

}

</style>
<script>
// Check the description for details
// Possible todos:
// Case sensitivity rankings

/* eslint-disable max-len */
/* eslint-disable max-len */
/* eslint-disable no-param-reassign */
/* eslint-disable no-plusplus */
/* eslint-disable no-unused-vars */

const rankings = {
  EQUALS: 8,
  STARTS_WITH: 7,
  ENDS_WITH: 6,
  WORD_STARTS_WITH: 5,
  WORD_ENDS_WITH: 4,
  CONTAINS: 3,
  SEQUENCE: 2,
  SUBSTRING: 1,
};

export default {
  name: 'FuzzySelect',
  data() {
    return {
      query: '',
    };
  },
  /*
  In practice you would probably watch the query and use a
  debounced search method rather than using a computed property
  */
  // comment back in to see how things are ranked
  // watch: {
  //  rankedAndSortedItems(newVal) {
  //    console.log(newVal);
  //  }
  // },
  computed: {
    rankedAndSortedItems() {
      if (this.rankedItems.length < 1) {
        return [];
      }
      return Array(...this.rankedItems).sort(this.sortRankedItems);
    },
    rankedItems() {
      if (!this.query) {
        return this.items.map((todo, idx) => ({
          item: todo, idx, rank: rankings.EQUALS, positions: [],
        }));
      }
      const query = this.query.toUpperCase();
      return this.items.reduce((acc, currItem, idx) => {
        const curr = currItem.label;
        // base case
        if (query.length > curr.length) {
          return acc;
        }
        let index = 0;
        let met = false; // met condition
        const upperCurr = curr.toUpperCase();

        // equals
        if (query === upperCurr) {
          met = true;
          acc.push({
            item: currItem, idx, rank: rankings.EQUALS, positions: [...this.range(index, index + query.length)],
          });
        }

        // starts with
        index = upperCurr.indexOf(query);
        if (!met && index === 0) {
          met = true;
          acc.push({
            item: currItem, idx, rank: rankings.STARTS_WITH, positions: [...this.range(index, index + query.length)],
          });
        }

        // ends with
        index = upperCurr.indexOf(query);
        if (!met && index === curr.length - query.length) {
          met = true;
          acc.push({
            item: currItem, idx, rank: rankings.ENDS_WITH, positions: [...this.range(index, index + query.length)],
          });
        }

        // any word starts with
        index = upperCurr.indexOf(` ${query}`);
        if (!met && index !== -1) {
          met = true;
          acc.push({
            item: currItem, idx, rank: rankings.WORD_STARTS_WITH, positions: [...this.range(index, index + query.length)],
          });
        }

        // any word ends with
        index = upperCurr.indexOf(`${query} `);
        if (!met && index !== -1) {
          met = true;
          acc.push({
            item: currItem, idx, rank: rankings.WORD_ENDS_WITH, positions: [...this.range(index, index + query.length)],
          });
        }

        // contains
        index = upperCurr.indexOf(query);
        if (!met && index !== -1) {
          met = true;
          acc.push({
            item: currItem, idx, rank: rankings.CONTAINS, positions: [...this.range(index, index + query.length)],
          });
        }

        // window subsequence
        let minWin = this.minWinSeq(query, upperCurr);
        let distance = upperCurr.length;
        if (!met && minWin.minSequence && minWin.minSequence.length > 0) {
          met = true;
          distance = minWin.minSequence.length - query.length;
          acc.push({
            item: currItem, idx, rank: rankings.SEQUENCE, distance, positions: minWin.positions,
          });
        }

        // window substring
        minWin = this.minWinSub(query, upperCurr);
        if (!met && minWin.minSequence && minWin.minSequence.length > 0) {
          distance = minWin.minSequence.length - query.length;
          acc.push({
            item: currItem, idx, rank: rankings.SUBSTRING, distance, positions: minWin.positions,
          });
        }

        return acc;
      }, []);
    },
  },
  methods: {
    /*
   * Minimum window subsequence
   * @params {String} query: a query to search for
   * @params {String} strToSearch: a string to search in
   */
    minWinSeq(query, strToSearch) {
      let minSequence = null;

      if (!query || !strToSearch) {
        return { minSequence, positions: [] };
      }
      if (query.length > strToSearch.length) {
        return { minSequence, positions: [] };
      }

      let end = 0;
      let maxWinLength = strToSearch.length + 1;
      let positions = [];

      for (let i = 0, j = 0; i < strToSearch.length; i++) {
        if (strToSearch[i] === query[j]) {
          j += 1;
          if (j >= query.length) {
            positions = [];
            end = i + 1;
            j -= 1;
            while (j >= 0) {
              if (query[j] === strToSearch[i]) {
                positions.unshift(i);
                j -= 1;
              }
              i -= 1;
            }
            i += 1;
            j += 1;
            if (end - i < maxWinLength) {
              maxWinLength = end - i;
              minSequence = strToSearch.substring(end, i);
            }
          }
        }
      }
      return { minSequence, positions };
    },
    /*
    * Minimum window substring
    * @params {String} query: a query to search for
    * @params {String} searchString: a string to search in
    */
    minWinSub(query, searchString) {
      let minSequence = null;
      let positions = [];
      if (!query || !searchString) {
        return { minSequence, positions };
      }
      if (query.length > searchString.length) {
        return { minSequence, positions };
      }

      // build map containing letters and counts of those letters for our query
      const queryCharMap = new Map();
      [...query].forEach((letter) => {
        const letterVal = queryCharMap.get(letter);
        if (letterVal) {
          queryCharMap.set(letter, letterVal + 1);
        } else {
          queryCharMap.set(letter, 1);
        }
      });

      const incrementMapKeyVal = (map, key, val) => {
        const currVal = map.get(key);
        if (currVal) {
          map.set(key, currVal + val);
        } else {
          map.set(key, 1);
        }
      };

      /*
            Loop over search string.  Move the right index until we satisfy.
            Compare against the current best.  Squeeze and compare until we
            no longer satsify and then start moving the right again
        */
      let left = 0;
      let right = 0;
      let frequenciesThatMatch = 0;

      const searchStringArr = [...searchString];
      const windowCharMap = new Map();
      const totalFrequenciesToMatch = queryCharMap.size;

      while (right < searchString.length) {
        const rightLetter = searchString[right];

        incrementMapKeyVal(windowCharMap, rightLetter, 1);

        if (queryCharMap.has(rightLetter)) {
          // do the frequencies of this letter in window and query match?
          if (
            queryCharMap.get(rightLetter)
                    === windowCharMap.get(rightLetter)
          ) {
            frequenciesThatMatch += 1;
          }
        }

        while (
          frequenciesThatMatch === totalFrequenciesToMatch
                && left <= right
        ) {
          minSequence = searchString; // necessary to be here so we don't return the whole string if no match
          const leftLetter = searchString[left];
          const windowSize = right - left + 1;

          if (windowSize < minSequence.length) {
            minSequence = searchString.substring(left, right + 1);

            // eslint-disable-next-line  no-loop-func
            positions = [...minSequence].reduce((acc, curr, idx) => {
              if (queryCharMap.has(curr)) {
                acc.push(left + idx);
              }
              return acc;
            }, []);
          }

          // left will increase so decrement val for letter at that position in windowCharMap
          incrementMapKeyVal(windowCharMap, leftLetter, -1);

          // is left character a requirement
          if (queryCharMap.has(leftLetter)) {
            // does the letter frequency fail to meet the standard now>
            if (
              windowCharMap.get(leftLetter)
                        < queryCharMap.get(leftLetter)
            ) {
              frequenciesThatMatch -= 1;
            }
          }

          left += 1;
        }
        right += 1;
      }

      return { minSequence, positions };
    },
    /*
    * Sort items by rank, distance, or alphabetically
    */
    sortRankedItems(a, b) {
      if (a.rank === b.rank) {
        if (a.distance && a.distance !== b.distance) {
          return a.distance - b.distance;
        }
        return a.item.label.localeCompare(b.item.label);
      }
      return b.rank - a.rank;
    },
    /*
    * Generate an array filled from start..stop
    */
    range(start, stop) {
      return Array(Math.ceil((stop - start) / 1)).fill(start).map((x, y) => x + y * 1);
    },
  },
  props: {
    items: {
      type: Array,
    },
    prompt: {
      String,
    },
    placeholder: {
      String,
    },
  },
  emit: ['idxSelected'],
};
</script>
