<template>
  <svg
    width="100px"
    height="100px"
    class="remove-button"
  >
    <g id="layer1">
      <circle
        id="path1"
        cx="50"
        cy="50"
        r="49"
      />
      <path
        style="stroke:#ffffff;stroke-width:10;stroke-dasharray:none;stroke-linecap:round"
        d="M 30,30 70,70"
        id="path2"
      />
      <path
        style="stroke:#ffffff;stroke-width:10;stroke-linecap:round;stroke-dasharray:none"
        d="M 30,70 70,30"
        id="path3"
      />
    </g>
  </svg>
</template>

<style scoped>
svg {
  transform: v-bind('genTransform')
}

circle {
  fill: var(--primary-color)
}

@media (hover: none) {
  svg {
    transform: translate(70%,40%) scale(.5);
  }
}
</style>

<script setup>
import {
  computed,
  defineProps,
} from 'vue';

const props = defineProps({
  size: {
    type: Number,
    default: 20,
  },
});

const genTransform = computed(()=> {
  return `translate(50%,50%) scale(${props.size/100})`
})
</script>

<script>
export default {
  name: 'RemoveButton',
};
</script>
