<template>
  <!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->
  <!-- eslint-disable vuejs-accessibility/label-has-for -->

  <div class="form-container">
    <div class="carriere">
      <h3>Carrière</h3>
      <a id="editEasingLink" @click="editEasing()" v-if="isDev">edit easing</a>
      <div class="steps">
        <template v-for="(grille, idx) in grilles" :key="idx">
          <div class="corps-label" :style="`grid-row:${idx+1}`">
            {{grille[0]}}
          </div>
        </template>
        <template v-for="step in steps" :key="step">
        <div
          :class="step.genClasses()"
          :style="step.genStyle()"
          :title="`${step.grade}-${step.echelon}&#010;`
           + `indice brut ${step.indice}&#010;`
           + `indice majoré ${step.indiceMajo}`"
          @click="$emit('carriere',{
            grade:step.grade,
            echelon:step.echelon,
            indiceMajo:step.indiceMajo,
          })">
          {{step.echelon}}
        </div>
        </template>
        <div class="separator-ef" :style="`grid-row:${grilles.length+1}`"/>
        <template v-for="(grille, idx) in grillesEF" :key="idx">
          <div class="corps-label" :style="`grid-row:${idx + grilles.length + 2}`"
            v-if="showThisEF(grille[0])">
            {{grille[0]}}
          </div>
        </template>
        <template v-for="step in stepsEF" :key="step">
        <div :class="step.genClasses()" v-if="showThisEF(step.grade)"
          :style="step.genStyle(grilles.length + 1)"
          :title="`${step.grade}-${step.echelon}&#010;`
           + `indice brut ${step.indice}&#010;`
           + `indice majoré ${step.indiceMajo}`"
          @click="$emit('carriere',{
            grade:'détaché',
            detachement:step.grade,
            echelon:step.echelon,
            indiceMajo:step.indiceMajo,
          })">
          {{step.echelon}}
        </div>
        </template>
        <div :style="'grid-row:'+(grilles.length + grillesEF.length + 2)+';grid-column: span 1000'"
          class="showHideContainer">
          <label @click="showCST ^= true" class="showHide"
                 title="chef de service grand centre, chef de centre/organisme et au dessus"
                 v-if="corps != 'tseeac'">
            <span v-if="showCST">▲▲▲</span>
            <span v-else>▼▼▼</span>
            <!-- Grand Manitou -->
            <span v-if="showCST">▲▲▲</span>
            <span v-else>▼▼▼</span>
          </label>
        </div>
      </div>
      <!-- <div class="debug">
        <template v-for="step in steps" :key="step">
        <div :class="'step ' + step.grade">
            {{step.grade}}/{{step.echelon}} : {{step.indice}} ({{step.nextIndice}})
        </div>
        </template>
      </div> -->
    </div>
  </div>
</template>

<style scoped>
/* layout */
.carriere {
  grid-column: 1 / -1;
  display:block;
}
.debug {
    display:flex;
    flex-direction: column;
}
.steps {
    display: grid;
    grid-template-columns: repeat(v-bind('columns'), 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.step {
    display: block;
    border:solid 1px;
    color:white;
    cursor: pointer;
    font-weight: lighter;
    margin-left: -1px;
    text-align: center;
}
.step.long {
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-size: smaller;
}
/* FIXME computed layout*/
.steps > .corps-label:nth-child(1) {
    grid-column: 50;
}
.steps > .corps-label:nth-child(2) {
    grid-column: 200;
}

@media (max-width: 800px) {
  .steps {
      grid-template-columns: auto repeat(v-bind(maxEchelon), 1fr) !important;
    }
  /* labels got 0 width and overflow on steps. Add shadow below labels.*/
  .steps>.corps-label {
      grid-column: unset !important;
      width: 0;
      z-index: 2;
      white-space: nowrap;
      position: relative;
      left: .2em;
      margin-top: .2em;
      color: white;
      text-shadow: 1px 1px 1px black;
  }
  .step {
      grid-column-start: auto !important;
      grid-column-end: auto !important;
      height: 5rem;
      /* center vertically */
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}

.élève {
    background-color: hsl(300, 100%, 67%);
}
.stagiaire {
    background-color: hsl(286, 100%, 67%);
}
.normal {
    background-color: hsl(272, 100%, 67%);
}
.principal {
    background-color: hsl(258, 100%, 67%);
}
.divisionnaire {
    background-color: hsl(244, 100%, 67%);
}
.chef, .exceptionnel, .hors {
    background-color: hsl(230, 100%, 67%);
}

.separator-ef {
  background-color: black;
}

.RTAC {
    background-color: hsl(45, 100%, 67%);
}
.CTAC {
    background-color: hsl(37, 100%, 67%);
}
.CSTAC {
    background-color: hsl(29, 100%, 67%);
}
.CUTAC {
    background-color: hsl(21, 100%, 67%);
}
.CST {
    background-color: hsl(13, 100%, 67%);
}
.CSTP {
    background-color: hsl(5, 100%, 67%);
}

.step:hover {
  background-color: var(--secondary-color);
}

.step.selstep {
  border:solid 2px;
  color: black;
  border-color: var(--secondary-color);
  z-index:1;
}

.showHideContainer {
  text-align: center;
}
.showHide {
  text-decoration: underline;
}

</style>

<!-- eslint-disable prefer-destructuring -->
<!-- eslint-disable radix -->

<script setup>
import { computed, ref, watch } from 'vue';
import { useStore } from 'vuex';
import bezier from 'bezier-easing';

const isDev = computed(()=>__IS_DEV__);

const store = useStore();
const { input } = store.state;
const dp = computed(() => store.getters.paysheet.dp);

const props = defineProps({
  corps: { type: String },
});

const trigger = ref(0);

const grilles = computed(() => {
  trigger.value;
  return Object.entries(dp.value.getGrille(props.corps))
});

const grillesEF = computed(() => dp.value.detachementsByCorps[props.corps].map(
  (ef) => [ef, dp.value.getEchelons(props.corps, 'détaché', ef)],
));

const showCST = ref(false);

const echelonMin = computed(() => dp.value.table_indices[grilles.value[0][1][1]]);
const echelonMax =computed(() =>
dp.value.table_indices[Object.values(grillesEF.value.filter(a=>showThisEF(a[0])).at(-1)[1]).at(-1)]);
const columns = computed(() => echelonMax.value - echelonMin.value +30);
const maxEchelon = computed(()=> {
  return Math.max(...grilles.value.map(g=>Object.keys(g[1]).length));
})

function getSteps(g) {
  const output = [];
  g.forEach(([grade, echelons], idxGrade) => {
    Object.entries(echelons).forEach(([echelon, indice], indexEchelon) => {
      const step = new Step(
        grade,
        echelon,
        indice,
        idxGrade,
      );
      if (Object.values(echelons)[indexEchelon + 1]) {
        step.nextIndice = Object.values(echelons)[indexEchelon + 1];
      } else if (g[idxGrade + 1]) {
        step.nextIndice = parseInt(Object.values(g[idxGrade + 1][1])
          .filter((ind) => parseInt(ind, 10) > parseInt(indice, 10))[0]);
      }
      output.push(step);
    });
  });
  return output;
}

const steps = computed(() => getSteps(grilles.value));
const stepsEF = computed(() => getSteps(grillesEF.value));

class MyBezier extends Function {
    constructor(x1, y1, x2, y2) {
        super('...args', 'return this.__self__.__call__(...args)')
        var self = this.bind(this)
        this.__self__ = self

        self.x1 = x1;
        self.y1 = y1
        self.x2 = x2;
        self.y2 = y2;
        self.easing = bezier(x1, y1, x2, y2)
        return self;
    }

    __call__(t) {
        return this.easing(t);
    }
}
class CompoundBezier extends Function {
  constructor(x1, y1, x2, y2, x3, y3, x4, y4) {
    super('...args', 'return this.__self__.__call__(...args)')
        var self = this.bind(this)
        this.__self__ = self
        self.x1 = x1;
        self.y1 = y1
        self.x2 = x2;
        self.y2 = y2;
        self.x3 = x3;
        self.y3 = y3;
        self.x4 = x4;
        self.y4 = y4;
        let x5 = x4 -2*(x4-x3);
        let y5 = y4 -2*(y4-y3);

        self.easing1 = bezier(x1/x3, y1/y3, x5/x3, y5/y3);
        let w2 = 1-x3
        let h2 = 1-y3
        self.easing2 = bezier((x4-x3)/w2, (y4-y3)/h2, (x2-x3)/w2, (y2-y3)/h2);
        return self;
  }
  __call__(t) {
    const x3 = this.x3;
    if (t < x3) {
      return this.easing1(t/x3)*x3;
    } else {
      let w2 = 1-x3;
      return this.easing2((t-x3)/w2)*w2 + x3;
    }
  }
}
function mybezier(...args) {
  if (args.length == 4) {
    return new MyBezier(...args);
  } else if (args.length == 8) {
    return new CompoundBezier(...args);
  } else {
    throw Error (`4 ou 8 paramètres, reçu: ${args.lenght}`)
  }
}

const easingCatA = mybezier(0.41, 0.35, 0.68, 0.76);
const easingCatB = mybezier(0, 0.24, 0.585, 0.905, 0.1, 0.225, 0.115, 0.46);
var easing = easingCatA;

watch(() => props.corps, (newV, oldV) => {
  //does not change if easing has been modified
  if (easing == easingCatA || easing == easingCatB) {
    easing = newV == 'tseeac'? easingCatB : easingCatA;
  };
})

class Step {
  constructor(
    grade,
    echelon,
    indice,
    idxGrade,
  ) {
    this.grade = grade;
    this.echelon = echelon;
    this.indice = parseInt(indice) ? parseInt(indice) : indice;
    this.idxGrade = idxGrade;
  }

  get indiceMajo() {
    return parseInt(dp.value.table_indices[this.indice]);
  }

  genClasses() {
    const classes = ['step', this.grade];
    if ((this.grade === input?.grade
    || (input?.grade === 'détaché'
        && this.grade === input?.detachement))
     && this.echelon === input?.echelon.toString()) {
      classes.push('selstep');
    }
    if (this.echelon.length == 3) {
      classes.push("long");
    }
    return classes.join(' ');
  }

  genStyle(rowOffset = 0) {
    const columnEnd = this.nextIndice
      ? `${Step.scaleIndice(this.nextIndice)}`
      : 'span 30';
    const output = [
      `grid-column:${Math.max(Step.scaleIndice(this.indice),1)}/${columnEnd}`,
      `grid-row:${this.idxGrade + rowOffset + 1}`,
    ].join(';');
    return output;
  }

  static scaleIndice(indBrut) {
    const ind = parseInt(dp.value.table_indices[indBrut]);
    const minIndice = echelonMin.value;
    const maxIndice = echelonMax.value;
    const curve = easing;
    return Math.round(curve((ind - minIndice)/(columns.value))*columns.value);
  }
}

defineEmits(['carriere']);

function showThisEF(ef) {
  return !(['CST', 'CSTP'].includes(ef)) || showCST.value;
}
var editEasing = function(){};
if (__IS_DEV__) {
  /** affiche éditeur pour easingCurve
   * n'est pas mis à jour au changement de corps
  */
  const editorWidth = 200;
  const eW = editorWidth;
  function dndCircle(el, cb) {
    console.log(el);
    let dragging = false;
    let startX, startY;
    el.addEventListener("mousedown",(e=> {
      dragging = true;

    }));
    document.addEventListener("mousemove",(e=> {
      if (dragging) {
        el.setAttribute("cx", parseFloat(el.getAttribute("cx"))+e.movementX);
        el.setAttribute("cy", parseFloat(el.getAttribute("cy"))+e.movementY);
        cb(e.movementX, e.movementY);
      }
    }));
    document.addEventListener("mouseup",(e=> {
      dragging = false;
      cb();
    }));
  }
  function getPoint(circleId) {
    let c = document.getElementById(circleId);
    return {
      x: parseFloat(c.getAttribute("cx")),
      y: parseFloat(c.getAttribute("cy")),
    }
  }
  function updateCurve() {
    let p1 = getPoint("p1");
    let p2 = getPoint("p2");
    let p3 = getPoint("p3");
    let p4 = getPoint("p4");

    let l1 = document.getElementById("l1");
    l1.setAttribute("x2",p1.x);
    l1.setAttribute("y2",p1.y);

    let l2 = document.getElementById("l2");
    l2.setAttribute("x1",p2.x);
    l2.setAttribute("y1",p2.y);

    let x1 = p1.x /eW, y1 = (eW-p1.y)/eW, x2 = p2.x/eW, y2 = (eW-p2.y)/eW;
    var newEasing;
    var path;
    var easingString;
    if (document.getElementById("actualThirdControl")) {
      let p5 = {
        x: p4.x - 2* (p4.x-p3.x),
        y: p4.y - 2* (p4.y-p3.y),
      };
      let l3 = document.getElementById("l3");
      l3.setAttribute("x1",p5.x);
      l3.setAttribute("y1",p5.y);
      l3.setAttribute("x2",p4.x);
      l3.setAttribute("y2",p4.y);

      path = `M 0 ${eW}
        C ${p1.x} ${p1.y}, ${p5.x} ${p5.y}, ${p3.x} ${p3.y}
        C ${p4.x} ${p4.y}, ${p2.x} ${p2.y}, ${eW} 0`;
      let x3 = p3.x /eW, y3 = (eW-p3.y)/eW, x4 = p4.x/eW, y4 = (eW-p4.y)/eW;
      easingString = `mybezier(${x1}, ${y1}, ${x2}, ${y2}, ${x3}, ${y3}, ${x4}, ${y4});`;
      newEasing = mybezier(x1, y1, x2, y2, x3, y3, x4, y4);
    } else {
      path = `M 0 ${eW} C ${p1.x} ${p1.y},
      ${p2.x} ${p2.y}, ${eW} 0`

      easingString = `mybezier(${x1}, ${y1}, ${x2}, ${y2});`;
      newEasing = mybezier(x1, y1, x2, y2);
    }
    console.log(path)
    document.getElementById("curve").setAttribute("d",path);
    document.getElementById("curveStringDisplay").innerText = easingString;
    easing = newEasing;
    trigger.value +=1;
  }
  function drawCurve() {
    /* lines and curve coordinates will be updated through updateCurve */
    let x3 = easing.x3 ?? .5;
    let y3 = easing.y3 ?? .5;
    let x4 = easing.x4 ?? .6;
    let y4 = easing.y4 ?? .6;
    const svgHtml = `
    <svg id="editorEasing" width="${eW}" height="${eW}" style="background: white">
      <defs>
        <g id="thirdControl">
          <line id="l3" x1="0" y1="${eW}" x2="10" y2="10" stroke="#070" />
          <circle id="p3" cx="${x3*eW}" cy="${(1-y3)*eW}" r="5" fill="grey" />
          <circle id="p4" cx="${x4*eW}" cy="${(1-y4)*eW}" r="5" fill="green" />
        </g>
      </defs>
      <path id="curve" d="M 0 0 C 20 20, 40 20, 50 10" stroke="black" fill="transparent"/>
      <line id="l1" x1="0" y1="${eW}" x2="10" y2="10" stroke="#700" />
      <line id="l2" x1="0" y1="${eW}" x2="${eW}" y2="0" stroke="#007" />
      <circle id="p1" cx="${easing.x1*eW}" cy="${(1-easing.y1) * eW}" r="5" fill="red" />
      <circle id="p2" cx="${easing.x2*eW}" cy="${(1-easing.y2) * eW}" r="5" fill="blue" />
    </svg>
    <span id="curveStringDisplay" style="font-size: 11px;
    font-family: monospace;"></span>
        `;
    const carriereHeading = document.querySelector(".carriere > h3");
    const template = document.createElement('template');
    template.innerHTML = svgHtml;
    carriereHeading.after(template.content);
  }
  editEasing = function () {
    document.getElementById("editEasingLink").remove();
    drawCurve();
    if (easing.x3 != undefined) {
      addControl();
    }
    dndCircle(document.getElementById("p1"), updateCurve);
    dndCircle(document.getElementById("p2"), updateCurve);
    updateCurve();
  }
  function addControl() {
    console.log("addControl");
    if (document.getElementById("actualThirdControl") == null) {
      let tc = document.getElementById("thirdControl");
      tc.setAttribute("id", "actualThirdControl")
      document.getElementById("editorEasing").appendChild(tc);
      window.setTimeout(() => dndCircle(document.getElementById("p3"), (dx,dy) => {
        if (dx != undefined) {
          let el = document.getElementById("p4");
          el.setAttribute("cx", parseFloat(el.getAttribute("cx"))+dx);
          el.setAttribute("cy", parseFloat(el.getAttribute("cy"))+dy);
        }
        updateCurve();
    }),100);
      window.setTimeout(() => dndCircle(document.getElementById("p4"), updateCurve),100);
    }
  }
}

</script>

<script>
export default {
  name: 'CarriereGeneric',
};
</script>
