<template>
  <!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->
  <div class="form-block">
    <div class="carriere-iessa" @mousemove="fisheye">
      <h3>Carrière</h3>
      <div class="steps">
        <template v-for="step in steps" :key="step.index">
            <div class="label-carriere" v-if="step.label">{{step.label}}</div>
            <div
              :class="'histo-carriere ' + (step.detachement ?? step.grade)" :title="step.name"
              @click="$emit('carriere',step)">
                <span class="name-carriere">{{step.name}}</span>
            </div>
        </template>
      </div>
    </div>
  </div>
</template>

<style scoped>
/* layout */
.carriere-iessa {
  display:block;
}
.steps {
    display:flex;
}
.histo-carriere {
    background-color: lightgrey;
    min-width: .2em;
    height: 3em;
    margin-right:.1em;
    overflow: clip;
    flex: 1 1 auto;
}
.label-carriere {
    position: relative;
    overflow: visible;
    text-align: center;
    left: -.5em;
    width: .2em;
}

.label-carriere:nth-child(even) {
        top: 3em;
}
.label-carriere:nth-child(odd) {
        top: -1em;
}
.name-carriere {
    color: white;
    font-weight: bold;
    font-size: .8em;
    display: block;
    text-align: center;
}

.eleve {
    background-color: hsl(300, 100%, 67%);
}
.stagiaire {
    background-color: hsl(286, 100%, 67%);
}
.normal {
    background-color: hsl(272, 100%, 67%);
}
.principal {
    background-color: hsl(258, 100%, 67%);
}
.divisionnaire {
    background-color: hsl(244, 100%, 67%);
}
.CUTAC {
    background-color: hsl(25, 100%, 67%);
}

</style>

 <!-- eslint-disable no-param-reassign -->
<script setup>

const steps = [
  {
    name: 'eleve',
    grade: 'eleve',
    echelon: 1,
    peq: 0,
    evs: undefined,
  },
  {
    name: 'stagiaire',
    grade: 'stagiaire',
    echelon: 1,
    peq: 0,
    evs: undefined,
  },
  {
    name: 'stagiaire affecté',
    grade: 'stagiaire',
    echelon: 2,
    peq: 0,
    evs: 1,
  },
  {
    name: 'QT',
    grade: 'normal',
    echelon: 1,
    label: 'QT',
    peq: 1,
    evsMin: 5,
    evsMax: 8,
  },
  {
    name: 'N2',
    grade: 'normal',
    echelon: 2,
    peq: 1,
    evsMin: 5,
    evsMax: 8,
  },
  {
    name: 'QTS',
    grade: 'normal',
    echelon: 3,
    label: 'QTS',
    peq: 3,
    evsMin: 7,
    evsMax: 10,
  },
  {
    name: 'QTS+1',
    grade: 'divisionnaire',
    echelon: 2,
    peq: 3,
    evsMin: 7,
  },
  {
    name: 'D3',
    grade: 'divisionnaire',
    echelon: 3,
    peq: 3,
  },
  {
    name: 'D4',
    grade: 'divisionnaire',
    echelon: 4,
    peq: 3,
  },
  {
    name: 'D5',
    grade: 'divisionnaire',
    echelon: 5,
    peq: 3,
  },
  {
    name: 'D6',
    grade: 'divisionnaire',
    echelon: 6,
    peq: 5,
    label: 'QTS+10',
  },
];
for (let i = 7; i <= 15; i += 1) {
  steps.push({
    name: `D${i}`,
    grade: 'divisionnaire',
    echelon: i,
    peq: 5,
  });
}
steps.push(
  {
    name: '7A1',
    grade: 'détaché',
    detachement: 'CUTAC',
    echelon: '7A1',
    peq: 5,
    label: 'CUTAC',
  },
);

for (let i = 0; i < steps.length; i += 1) {
  steps[i].index = i;
}

function fisheye(e) {
//   console.log(e);
  let parent = e.target;
  let stepsDiv = null;
  while (!parent.classList.contains('carriere-iessa')) {
    parent = parent.parentElement;
  }
  [stepsDiv] = parent.getElementsByClassName('steps');

  Array.from(stepsDiv.children).forEach((element) => {
    if (element.classList.contains('label-carriere')) {
      return;
    }
    const rect = element.getBoundingClientRect();
    const centerX = (rect.left + rect.right) / 2;
    const deltaX = Math.abs(e.clientX - centerX);

    element.style['flex-shrink'] = deltaX;

    // if (element.classList.contains('eleve')) {
    //   console.log(`e.clientX: ${e.clientX}\ncenterX: ${centerX}\ndeltaX: ${deltaX}\n`
    //     + `100/deltaX: ${100 / deltaX}\newFlex: ${deltaX}`);
    // }
  });
}

defineEmits(['carriere']);
</script>

<script>
export default {
  name: 'CarriereIESSA',
};
</script>
