<template>
  <div class="evs-selector">
    <!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->
    <!-- eslint-disable vuejs-accessibility/label-has-for -->

    <div class="fonctions-evs" v-if="likelyFonctions.length > 0">
      <template v-for="(v,k,idx) in likelyFonctionsGroupedByLevel" :key="idx">
        <fieldset>
          <legend>{{k}}</legend>
        <template v-for="fonction in v" :key="fonction.label">
            <button
              class="btn"
              :data="fonction.key"
              :data-niveau="fonction.niveau"
              :title="fonction.desc"
              @click="clickFonction($event)">
                {{fonction.label}}
            </button>
        </template>
        </fieldset>
      </template>
    </div>

    <div class="evsPlaceholder" v-else-if="input.grade != 'eleve'">
      <div class="placeholderButtons fonctions-evs">
        <button class="btn">Grouillot</button>
        <button class="btn">Sous-chef</button>
        <button class="btn">Chef</button>
      </div>
      <div class="overPlaceholder">Pas de suggestion.
        {{ input.grade == 'élève' && input.site?.oaci != 'ENAC' ? "Rentrez votre grade." : "" }}</div>
    </div>
    <Foldable label="Toutes les fonctions...">
<!--
      <label @click="showFuzzy ^= true" class="showHide">
        <span v-if="showFuzzy">▲▲▲</span>
        <span v-else>▼▼▼</span>

        <span v-if="showFuzzy">▲▲▲</span>
        <span v-else>▼▼▼</span>
      </label> -->
      <div class="fuzzy-container gridfullwidth">
        <fuzzy-select
          :items="dp.evsLevel.map((level) => {
            return {label:level.name,title:level.evs}
          })"
          prompt="Recherche de fonction :"
          placeholder="Tapez le nom de la fonction"
          @idxSelected="receiveChange" />
      </div>
    </Foldable>
    <AnimatedTextInput
        label="Niveau"
        v-model="input.evs"
        :class="input.getStatus('evs')"
    />
  </div>
</template>

<style scoped>
/* layout */
.evs-selector, .fonctions-evs, .list-selection {
  grid-column: 1 / -1;
}

#stub-evs {
    position:absolute;
    top:20%;
    margin: auto;
    width: 70%;
    left: 1em;
    right: 1em;
    font-weight: bold;
}

.fuzzy-container {
  max-height: 13em;
  overflow: auto;
  margin: .2em;
}

.fuzzy-container > label {
  font-size: 80%;
}

.showHide {
  text-decoration: underline;
  width: 100%;
  text-align: center;
}
.evsPlaceholder {
  position: relative;
  width:100%;
  grid-column: 1 / -1;
  padding-top:.1em;
  padding-bottom: .1em;
}
.overPlaceholder {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  background-color: rgba(255,255,255,.75);
  backdrop-filter: blur(.5px);
  color:black;
}
.fonctions-evs {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}

fieldset {
  border-style: solid;
  border-width: 1px;
  padding: 0 .2em;
  margin-right: .2em;
  width:auto;
}
fieldset legend {
  padding:0 .1em;
  margin:0;
  font-size:.7em;
  width:auto;
}
fieldset button {
  margin-top: -3em;
  margin-bottom: .4em;
}
</style>

<style>
label.fuzzy-result {
  font-size: 80%;
  line-height: 100%;
}
</style>

<script setup>
import { ref, computed, watch } from 'vue';
import { useStore } from 'vuex';

import { getLikelyFonction } from '../../../../../src/old_js/evs';
import Foldable from '@/components/input/widgets_general/Foldable.vue';
import FuzzySelect from '../widgets_general/FuzzySelect.vue';
import AnimatedTextInput from '../widgets_general/AnimatedTextInput.vue';

import debugModule from 'debug';
const debug = debugModule("gwenneg:front:evs-selector");

const store = useStore();
const dp = computed(() => store.getters.paysheet.dp);
const { input } = store.state;

const showFuzzy = ref(false);

const likelyFonctions = computed(
  () => {
    input.validity; // hidden access in DataProvier not enough to trigger reactivity
    input.site; //siteData read not enough to trigger reactivity
    return getLikelyFonction(input.corps, input.siteData, input.grade, input.echelon, input.showEncadrement);
  },
);

const likelyFonctionsGroupedByLevel = computed( () => {
  let flatFonctions = likelyFonctions.value;
  let acc = {};
  if (flatFonctions.length > 0) {
    flatFonctions.forEach(f => {
      acc[f.niveau] ??= [];
      acc[f.niveau].push(f)
    });
    if (input.fonction) {
      const v = input.fonction;
      window.setTimeout(() => {
        activate(v);
      }, 0);
    }
  }
  return acc;
})

function deactivateAllFonctions() {
  document
    .querySelectorAll('.fonctions-evs > fieldset > button.active')
    .forEach((element) => {
      element.classList.remove('active');
    });
}

function activate(fonctionKey) {
  debug(`activate(${fonctionKey})`);
  let element = document.querySelector(`.fonctions-evs > fieldset > button[data="${fonctionKey}"]`);
  if (element && !element?.classList.contains('active')) {
    deactivateAllFonctions();
    element.classList.add('active');
  }
}

function clickFonction(e) {
  let fonctionKey = e.target.getAttribute('data');
  let fonction = dp.value.fonctions[fonctionKey];
  if (!fonction) {
    if (e.target.getAttribute('data-niveau')) {
      console.warn("deprecated fonction API")
      input.evs = e.target.getAttribute('data-niveau')
    }
    return;
  }
  trackChoice('LikelyFonctions', {
    name: e.target.innerText,
    evs: fonction.niveau
  });
  input.fonction = fonctionKey;
}

watch(() => input.fonction, (newV, oldV) => {
  activate(newV);
});

function receiveChange(idxSelected) {
  if (Number.isNaN(parseInt(idxSelected, 10))) {
    throw new Error('should not happen');
  }
  trackChoice('ToutesLesFonctions', dp.value.evsLevel[idxSelected]);
  input.evs = dp.value.evsLevel[idxSelected].evs;
}

function trackChoice(category,choice) {
  if (_paq && typeof _paq.push == 'function' ) {
    let context = {
      site: input.siteData.oaci,
      corps: input.corps,
      grade: input.grade,
      echelon: input.echelon
    };
    _paq.push(['trackEvent', category, JSON.stringify(context), JSON.stringify(choice)]);
  }
}
</script>

<script>
export default {
  components: { FuzzySelect, AnimatedTextInput },
  name: 'EVSSelector',
};
</script>
