@charset "UTF-8";
/*!
* Reboot (2020)
* based on Knacss V7.1, Normalize and Bootstrap reboot v4.4.1
*
* Original code :
* www.KNACSS.com v7.1.1 (december, 10 2018) @author: Alsacreations, Raphael Goetter
* Licence WTFPL http://www.wtfpl.net/
*
* Original Code :
* Bootstrap Reboot v4.4.1 (https://getbootstrap.com/)
* Copyright 2011-2019 The Bootstrap Authors
* Copyright 2011-2019 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
* Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
*/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  color: #121212;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 { margin-top: 0; }
h4, h5, h6 { margin-bottom: 0.5rem; }
h1, h2, h3 {
	margin-bottom: 1.5rem;
	text-align:  center;
}

p,
address,
ol,
ul,
dl,
pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-top: 0;
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
  white-space: pre-wrap;
  line-height: normal;
}

pre {
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
  vertical-align: middle;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

button:not(:disabled),
html [type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
     -moz-appearance: listbox;
          appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
          appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

/* ----------------------------- */
/* ==Base (basic styles)         */
/* ----------------------------- */
/* disable animations styles when reduced rotion is enabled */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* switching to border-box model for all elements */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /* avoid min-width: auto on flex and grid children */
  min-width: 0;
  min-height: 0;
}

html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  font-size: calc(1em * 0.625);
}

body {
  font-size: 1.4rem;
}

@media (min-width: 576px) {
  body {
    font-size: 1.6rem;
  }
}

/* Links */
a {
  text-decoration: underline;
  background-color: transparent;
}
a:link { color: #0000EE; }
a:visited { color: #551A8B; }

a:focus, a:hover, a:active {
  color: #0000EE;
  text-decoration: underline;
}

/* Headings */
h1, .h1-like {
  font-size: 2.8rem;
  font-family: sans-serif;
  font-weight: 500;
}

@media (min-width: 576px) {
  h1, .h1-like {
    font-size: 3.2rem;
  }
}

h2, .h2-like {
  font-size: 2.4rem;
  font-family: sans-serif;
  font-weight: 500;
}

@media (min-width: 576px) {
  h2, .h2-like {
    font-size: 2.8rem;
  }
}

h3, .h3-like {
  font-size: 2rem;
  font-weight: 500;
}

@media (min-width: 576px) {
  h3, .h3-like {
    font-size: 2.4rem;
  }
}

h4, .h4-like {
  font-size: 1.8rem;
  font-weight: 500;
}

@media (min-width: 576px) {
  h4, .h4-like {
    font-size: 2rem;
  }
}

h5, .h5-like {
  font-size: 1.6rem;
  font-weight: 500;
}

@media (min-width: 576px) {
  h5, .h5-like {
    font-size: 1.8rem;
  }
}

h6, .h6-like {
  font-size: 1.4rem;
  font-weight: 500;
}

@media (min-width: 576px) {
  h6, .h6-like {
    font-size: 1.6rem;
  }
}

/* Avoid margins on nested elements */
li p,
li .p-like,
li ul,
li ol,
ol ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
  max-width: 100%;
}

img {
  height: auto;
}

/* Styling elements */
ul,
ol {
  padding-left: 2em;
}

em,
.italic,
address,
cite,
i,
var {
  font-style: italic;
}

code,
kbd,
mark {
  border-radius: 2px;
}

kbd {
  padding: 0 2px;
  border: 1px solid #999;
}

pre {
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}

code {
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.04);
  color: #b11;
}

pre code {
  padding: 0;
  background: none;
  color: inherit;
  border-radius: 0;
}

mark {
  padding: 2px 4px;
}

sup,
sub {
  vertical-align: 0;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

blockquote {
  position: relative;
  padding-left: 3em;
  min-height: 2em;
}

blockquote::before {
  content: "\201C";
  position: absolute;
  left: 0;
  top: 0;
  font-family: georgia, serif;
  font-size: 5em;
  height: .4em;
  line-height: .9;
  color: #e7e9ed;
}

blockquote > footer {
  margin-top: .75em;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
}

blockquote > footer::before {
  content: "\2014 \0020";
}

q {
  font-style: normal;
}

q,
.q {
  quotes: "“" "”" "‘" "’";
}

q:lang(fr),
.q:lang(fr) {
  quotes: "«\00a0" "\00a0»" "“" "”";
}

hr {
  display: block;
  clear: both;
  height: 1px;
  margin: 1em 0 2em;
  padding: 0;
  border: 0;
  color: #ccc;
  background-color: #ccc;
}

/* ----------------------------- */
/* ==Print (quick print reset)   */
/* ----------------------------- */
@media print {
  * {
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  body {
    width: auto;
    margin: auto;
    font-family: serif;
    font-size: 12pt;
  }
  p,
  .p-like,
  h1,
  .h1-like,
  h2,
  .h2-like,
  h3,
  .h3-like,
  h4,
  .h4-like,
  h5,
  .h5-like,
  h6,
  .h6-like,
  blockquote,
  label,
  ul,
  ol {
    color: #000;
    margin: auto;
  }
  .print {
    display: block;
  }
  .no-print {
    display: none;
  }
  /* no orphans, no widows */
  p,
  .p-like,
  blockquote {
    orphans: 3;
    widows: 3;
  }
  /* no breaks inside these elements */
  blockquote,
  ul,
  ol {
    page-break-inside: avoid;
  }
  /* page break before main headers
  h1,
  .h1-like {
    page-break-before: always;
  }
  */
  /* no breaks after these elements */
  h1,
  .h1-like,
  h2,
  .h2-like,
  h3,
  .h3-like,
  caption {
    page-break-after: avoid;
  }
  a {
    color: #000;
  }
  /* displaying URLs
  a[href]::after {
    content: " (" attr(href) ")";
  }
  */
  a[href^="javascript:"]::after,
  a[href^="#"]::after {
    content: "";
  }
}


/* State Helpers */
/* ------------- */
/* hidden but not for an assistive technology like a screen reader, Yahoo! method */
.visually-hidden, .tabs-content-item[aria-hidden="true"] {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
}


/* ----------------------------- */
/* ==Media object                */
/* ----------------------------- */
/* recommended HTML : <div class="media"><img class="media-figure"><div class="media-content"></div></div> */
/* see http://codepen.io/raphaelgoetter/pen/KMWWwj */
@media (min-width: 480px) {
  .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .media-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
            flex: 1 1;
  }
  .media-figure--center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .media--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

/* ----------------------------- */
/* ==skip links                  */
/* ----------------------------- */
/* see https://www.alsacreations.com/article/lire/572-Les-liens-d-evitement.html */
/* styling skip links */
.skip-links {
  position: absolute;
}

.skip-links a {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0.5em;
  background: black;
  color: white;
  text-decoration: none;
}

.skip-links a:focus {
  position: static;
  overflow: visible;
  clip: auto;
}

/* ----------------------------- */
/* ==Tables                      */
/* ----------------------------- */
table,
.table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: top;
  margin-bottom: 2rem;
}

.table {
  display: table;
  border: 1px solid #acb3c2;
  background: transparent;
}

.table--zebra tbody tr:nth-child(odd) {
  background: #e7e9ed;
}

.table caption {
  caption-side: bottom;
  padding: 1rem;
  color: #333;
  font-style: italic;
  text-align: right;
}

.table td,
.table th {
  padding: 0.3rem 0.6rem;
  min-width: 2rem;
  vertical-align: top;
  border: 1px #acb3c2 dotted;
  text-align: left;
  cursor: default;
}

.table thead {
  color: #212529;
  background: transparent;
}

.table--auto {
  table-layout: auto;
}

/* ----------------------------- */
/* ==Forms                       */
/* ----------------------------- */
/* thanks to HTML5boilerplate and https://shoelace.style/ */
/* forms items */
form,
fieldset {
  border: none;
}

fieldset {
  padding: 2rem;
}

fieldset legend {
  padding: 0 0.5rem;
  border: 0;
  white-space: normal;
}

label {
  display: inline-block;
  cursor: pointer;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  -webkit-box-shadow: 0 0 0 1px #333 inset;
          box-shadow: 0 0 0 1px #333 inset;
  color: #212529;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  margin: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition-property: background-color, color, border, -webkit-box-shadow;
  transition-property: background-color, color, border, -webkit-box-shadow;
  transition-property: box-shadow, background-color, color, border;
  transition-property: box-shadow, background-color, color, border, -webkit-box-shadow;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}


[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

input[readonly] {
  background-color: #e7e9ed;
}

select {
  padding-right: 2rem;
  border-radius: 0;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22isolation%3Aisolate%22%20viewBox%3D%220%200%2020%2020%22%20width%3D%2220%22%20height%3D%2220%22%3E%3Cpath%20d%3D%22%20M%209.96%2011.966%20L%203.523%205.589%20C%202.464%204.627%200.495%206.842%201.505%207.771%20L%201.505%207.771%20L%208.494%2014.763%20C%209.138%2015.35%2010.655%2015.369%2011.29%2014.763%20L%2011.29%2014.763%20L%2018.49%207.771%20C%2019.557%206.752%2017.364%204.68%2016.262%205.725%20L%2016.262%205.725%20L%209.96%2011.966%20Z%20%22%20fill%3D%22inherit%22/%3E%3C/svg%3E");
  background-position: right .6rem center;
  background-repeat: no-repeat;
  background-size: 1.2rem;
}

/* hiding IE11 arrow */
select::-ms-expand {
  display: none;
}

textarea {
  min-height: 5em;
  vertical-align: top;
  resize: vertical;
  white-space: pre-wrap;
}

/* 'x' appears on right of search input when text is entered. This removes it */
[type="search"]::-webkit-search-decoration, [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-results-button, [type="search"]::-webkit-search-results-decoration {
  display: none;
}

::-webkit-input-placeholder {
	color: #999;
	font-style: italic;
}

::-moz-placeholder {
	color: #999;
	font-style: italic;
}

:-ms-input-placeholder {
	color: #999;
	font-style: italic;
}

::-ms-input-placeholder {
	color: #999;
	font-style: italic;
}

::placeholder {
	color: #999;
	font-style: italic;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
	font-style: italic;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #999;
	font-style: italic;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
	font-style: italic;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
	color: #999;
	font-style: italic;
}

input::placeholder,
textarea::placeholder {
	color: #999;
	font-style: italic;
}

progress {
  width: 100%;
  vertical-align: middle;
}

input::placeholder {
	color: #999;
	font-style: italic;
}

/* ----------------------------- */
/* ==Checkbox, radio, switch     */
/* ----------------------------- */
[type="checkbox"], [type="radio"] {
	-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
}
[type="checkbox"]::-ms-check, [type="radio"]::-ms-check { display: none; /* unstyle IE checkboxes */ }


input[type="checkbox"] {
	vertical-align: text-bottom;
	cursor: pointer;
	border-radius: 3em;
	background-color: #fff;
	width: 6rem;
	height: 3rem;
	line-height: 3rem;
	-webkit-box-shadow: inset -3rem 0 0 #333, inset 0 0 0 1px #333;
	box-shadow: inset -3rem 0 0 #333, inset 0 0 0 1px #333;
	transition: box-shadow .15s;
}
input[type="checkbox"]::before, input[type="checkbox"]::after {
  color: #fff;
  font-weight: bold;
}
input[type="checkbox"]::before {
  content: "✕";
  float: right;
  margin-right: 1rem;
}
input[type="checkbox"]:checked {
	-webkit-box-shadow: inset 3rem 0 0 #5CB85C, inset 0 0 0 1px #5CB85C;
    box-shadow: inset 3rem 0 0 #5CB85C, inset 0 0 0 1px #5CB85C;
}
input[type="checkbox"]:checked::before {
  content: "✓";
  float: left;
  margin-left: 1rem;
}
[type="radio"] {
	vertical-align: middle;
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;
	margin: 0 0.2rem;
	background-size: contain;
	background-position: center;
	background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%2240%22%20height%3D%2240%22%0D%0AviewBox%3D%220%200%2040%2040%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2220%22%20style%3D%22fill%3A%23fff7dc%3Bfill-opacity%3A0.87%3B%22%2F%3E%3C%2Fsvg%3E");
	-webkit-transition: background-image .15s;
	transition: background-image .15s;
	border: 1px solid #000;
}
[type="radio"]:checked {
	background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2220%22%20style%3D%22fill%3A%234A59B3%3Bstroke%3A%23fff7dc%3Bstroke-width%3A1%3Bstroke-opacity%3A0.38%22%2F%3E%3Ctext%20x%3D%227%22%20y%3D%2231%22%20style%3D%22font-size%3A30px%3Bfill%3A%23ffffff%3B%22%3E%26%23x2714%3B%3C%2Ftext%3E%0D%0A%3C%2Fsvg%3E");
	border-style: none;
}
/*
Recommanded html :
<span class="radiobox"><input type="radio" checked id="rad4" name="rad" value="Isu"><label for="rad4">Tiago</label></span>
*/
/*
.radiobox {
	position: relative;
	display: flex;
	align-items: center;
	height: 3em;
}
.radiobox label {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	color: #121212;
	display: flex;
	align-items: center;
	transition: all 200ms ease-in;
	border-radius: 0.4rem;
	border: 2px solid #333;
	padding-left: 2.5em;
}
.radiobox label:hover {
	background-color:  #e7e9ed;
}
.radiobox [type="radio"] {
	z-index: 10;
	cursor: pointer;
	width: 2em;
	height: 2em;
	margin: 0.25em;
	background-size: contain;
	background-position: center;
	background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%2240%22%20height%3D%2240%22%0D%0AviewBox%3D%220%200%2040%2040%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2220%22%20style%3D%22fill%3A%23fff7dc%3Bfill-opacity%3A0.87%3B%22%2F%3E%3C%2Fsvg%3E");
	-webkit-transition: background-image .15s;
	transition: background-image .15s;
}
.radiobox [type="radio"]:checked {
	background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2220%22%20style%3D%22fill%3A%234A59B3%3Bstroke%3A%23fff7dc%3Bstroke-width%3A1%3Bstroke-opacity%3A0.38%22%2F%3E%3Ctext%20x%3D%227%22%20y%3D%2231%22%20style%3D%22font-size%3A30px%3Bfill%3A%23ffffff%3B%22%3E%26%23x2714%3B%3C%2Ftext%3E%0D%0A%3C%2Fsvg%3E");
}
.radiobox [type="radio"]:checked + label {
	background-color: #e7e9ed;
	border-bottom: 0.5rem solid #5CB85C;
	transition: all .15s;
}*/