/*
 * USACcgt Theme for Simulateur Salaire USACcgt by Gilles CAMBEFORT.
 * Copyright Gilles CAMBEFORT & USACcgt, 2023
 * -----------------------------------------------------------------------------
 * Grille Horizontale, l'ensemble des hauteurs des boites et de leur marge doivent
 * être un multiple de la ligne de base.
 * Le modèle css de boite est le border-box : Les dimensiosn (hauteur & largeur)
 * d'une boite est l'ensemble de la boite hors marge (contenu, padding, bordure)
 */
/* reboot.css contient le hack pour que 1rem = 10px */
h1, li, dd { font-family: var(--text-text); }
h1 { /* le texte en bleu d'en-tête */
	border-bottom: 1px solid var(--primary-color);
	margin-bottom: calc(var(--baseline) - 1px);
}
h2 { margin-bottom: var(--baseline-x3); }
h3 { margin-bottom: var(--baseline-x2); }

/* Hauteur des marges en multiple de la ligne de base */
p, address, ol, ul, dl, pre, h4, h5, h6 { margin-bottom: var(--baseline); }
dd, blockquote, figure, legend { margin-bottom: var(--baseline); }
hr { margin: var(--baseline) 0 var(--baseline-x2); }
table { margin-bottom: var(--baseline-x2); }
fieldset { padding: var(--baseline-x2); }
label { margin-bottom: 0; }
[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select {
	/*
	padding-top: var(--baseline);
	padding-bottom: var(--baseline);
	*/
	height: var(--baseline-x3);
}
textarea {
	padding-top: var(--baseline);
	padding-bottom: var(--baseline);
	min-height: var(--baseline-x10);
}

[type="radio"] {
	width: var(--font-size-normal);
	height: var(--font-size-normal);
	border-radius: var(--font-size-normal);
}

body > footer { min-height: var(--baseline-x2); }

main h3 { margin-bottom: 0; }