/*
 * USACcgt Theme for Simulateur Salaire USACcgt by Gilles CAMBEFORT.
 * Copyright Gilles CAMBEFORT & USACcgt, 2023
 * -----------------------------------------------------------------------------
 * Grille verticale en 12 colonnes. Tous les éléments doivent être aligné sur
 * la grille. Ce fichier contient la gestion de cette grille verticale.
 * les css subgrid n'étant pas suffisament supporté, je passe par la création de nouvelles
 * grilles plutôt que par subgrid.
 */

/* reboot.css contient le hack pour que 1rem = 10px */
body {
	display: grid;
	min-height: 95vh;
	grid-template-columns: 1px repeat(12, 1fr) 1px;
	grid-template-rows: minmax(var(--baseline-x2), max-content) 1fr;
	gap: var(--baseline-x2);
	margin-bottom: var(--baseline-x2);
}
body > header {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--baseline-x2);
	padding: var(--baseline-x2) calc(1px + var(--baseline-x2));
}
body > header #logo{ grid-column: span 2; }
body > header > div { grid-column: span 10; }
body > footer { grid-column: 1 / -1; }
body>aside {
	grid-column: 1 / 6;
	padding-top: var(--baseline);
	padding-bottom: var(--baseline);
	padding-left: calc(1px + var(--baseline-x2));
	/* Temporairement désactivé car non supporté actuellemnt par les input de Fabien
     Cette devra être remise en forme !
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--baseline-x2);
	grid-auto-rows: var(--baseline-x10);*/
}
main {
	grid-column: 6 / 14 ;
	padding-top: var(--baseline);
}

main > section, main article {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: var(--baseline-x2);
}

.item_social {
	grid-column: span 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0 var(--baseline-x2);
}
.item_social h5, .item_social_valeur, .item_social_description { grid-column: span 2; }

div.about, .contributing { grid-column: 3 / 13;}