/*
 * USACcgt Theme for Simulateur Salaire USACcgt by Gilles CAMBEFORT.
 * Copyright Gilles CAMBEFORT & USACcgt, 2023
 * -----------------------------------------------------------------------------
 * "Look" général (polices, ect...)
 * les styles spécifiques à chaque composant sera dnas ces composants
 */

/* reboot.css contient le hack pour que 1rem = 10px */

/* Basique */
.small {
	font-size: var(--font-size-small);
	line-height: var(--baseline);
}
.xsmall {
	font-size: var(--font-size-x-small);
	line-height: var(--baseline);
}
.warning {
	color: var(--error-color);
	font-weight: bold;
	text-align: center;
}
.warning::before { content: "\0026A0"; }
.warning::after { content: "\0026A0"; }

a, a:link, a:visited { color: var(--font-dark-color); }
a:focus, a:hover, a:active { color: var(--secondary-color);  }

/** apparence */
body { color: var(--font-dark-color); }
aside {
	background-color: var(--secondary-color);
	border-radius: 0 var(--baseline) var(--baseline) 0;
}

/** Couleurs titre **/
h1 { color: var(--primary-color); }
h2, h3, h4, h5, h6 { color: var(--secondary-color); }
h2>a:link, h2>a:visited, h2>a:focus, h2>a:hover, h2>a:active { color: var(--secondary-color);  }
h3>a:link, h3>a:visited, h3>a:focus, h3>a:hover, h3>a:active { color: var(--secondary-color);  }
h4>a:link, h4>a:visited, h4>a:focus, h4>a:hover, h4>a:active { color: var(--secondary-color);  }
h5>a:link, h5>a:visited, h5>a:focus, h5>a:hover, h5>a:active { color: var(--secondary-color);  }
h6>a:link, h6>a:visited, h6>a:focus, h6>a:hover, h6>a:active { color: var(--secondary-color);  }



body, label {
	font-size: var(--font-size-normal);
	line-height: var(--baseline-x2);
	font-family: var(--text-text);
}
h2, h3, h4, h5, h6, dt, th {
	font-family: var(--title-text);
	text-transform: uppercase;
}
h1, li, dd { font-family: var(--text-text); }
h1 { /* le texte en bleu d'en-tête */
	text-transform: uppercase;
	font-weight: 200;
	font-size: var(--font-size-x3);
	line-height: var(--baseline-x3);
}
h2 {
	font-size: var(--font-size-x4);
	line-height: var(--baseline-x4);
}
h3 {
	font-size: var(--font-size-x3);
	line-height: var(--baseline-x3);
}
h4 {
	font-size: var(--font-size-x2);
	line-height: var(--baseline-x2);
}
h5 {
	font-size: var(--font-size-x2);
	line-height: var(--baseline-x2);
}
h1, h2, h3, h4 { text-align: center; }
h5, h6 { text-align: left; }
h6 { font-size: var(--font-size-normal); }

/* Rectification des tailles de textes */
small, sub, sup { font-size: var(--font-size-small); }
pre, code, kbd, samp, legend  {
	font-size: var(--font-size-normal);
	line-height: var(--baseline-x2);
}

ul.items_paye {
	padding-left: 0;
	list-style-type: none;
}

main h3 {
	background-color: var(--primary-color);
	color: var(--font-light-color);
}

.input input, .input select {
  color: var(--primary-color);
}
.deduced input, .deduced select {
  color: var(--secondary-color);
  border: solid var(--secondary-color);
}

.default input, .default select {
	color: var(--grey-light-color);
	border: solid var(--grey-light-color);
  }

.unset input, .unset select {
  color: var(--font-dark-color);
  border: solid var(--font-dark-color);
}
