<template>
<!-- eslint-disable vuejs-accessibility/form-control-has-label -->
<!-- eslint-disable vuejs-accessibility/label-has-for -->
  <div class="comp">
    <h3>Cas particuliers</h3>
    <p class="legend">
      Ce menu permet de forcer certains paramètres pour gérer les cas particuliers.
    </p>

    <AnimatedSelector
      label="Corps :"
      :items="['iessa','ieeac','icna','tseeac'].map(it=>({
        desc:it.toUpperCase(),
        value:it}))"
      v-model=input.corps
    />
    <SitePicker
      :corps="input.corps"
      :currentSite="input.site"
      @site="receiveSite"
    />
      <h4>Indiciaire</h4>
      <label for="grade">Grade</label>
        <select v-model='input.grade' name="grade">
          <template v-for="grade in possibleGrades" :key="grade">
            <option :value="grade">{{ capitalizeFirstLetter(grade) }}</option>
          </template>
          <option value="détaché">Détachement Emploi Fonctionnel</option>
        </select>
      <label for="EF">EF</label>
        <select v-model='input.detachement' :disabled="input.grade != 'détaché'" name="EF">
          <option value="RTAC">RTAC</option>
          <option value="CTAC">CTAC</option>
          <option value="CSTAC">CSTAC</option>
          <option value="CUTAC">CUTAC</option>
          <option value="CST">CST</option>
          <option value="CSTP">CSTP</option>
        </select>
      <AnimatedTextInput label="Échelon :" v-model="input.echelon"/>
      <AnimatedTextInput label="Indice Majoré" v-model="input.indiceMajo" tooltip="Pour les cas particulier uniquement. Désactive l'indice normalement attribué par votre grade" />
      <toggle-button
        label="NBI"
        title="Accordé sous condition, ou au plus tard à 35 ans"
        :map="{true:1,false:0}"
        v-model="input.nbi"
      />

    <h4>RIST</h4>
    <AnimatedTextInput label="Fonction" v-model="input.evs" />
    <div v-if="dp.isAfterProtocole2023()" class="animated-input" :class="input.getStatus('PrimeEncDO')">
      <label for="Prime Encadrants DO - montant €" style="grid-column: 1/4;" >
        <a
          href="https://usac-cgt.org/wiki/index.php?title=RIST_Part_fonction#Valorisation_encadrement_DSNA/DO"
          target="_blank"
          title="Détails des primes par fonction sur le wiki"
        >Prime Encadrants DO</a>
      </label>
      <select   v-model='input.PrimeEncDO' style="grid-column: 4/-1;">
        <option value="0" selected>{{dp.primeEncadrementDO[0]}}</option>
        <option value="1">{{dp.primeEncadrementDO[1]}}</option>
        <option value="2">{{dp.primeEncadrementDO[2]}}</option>
        <option value="3">{{dp.primeEncadrementDO[3]}}</option>
        <option value="4">{{dp.primeEncadrementDO[4]}}</option>
        <option value="5">{{dp.primeEncadrementDO[5]}}</option>
      </select>
    </div>


    <RistExperience
      :corps='input.corps'
      v-model="input.ristXP"
      v-if="input.grade == 'divisionnaire' && ['icna', 'iessa'].includes(input.corps)" />

    <template v-if="input.corps=='iessa'">
      <PEQIessa
        v-model="input.peq"
      />
      <AnimatedSelector
        label="Réorg ST"
        v-model="input.reorg"
        :items="expe2016IessaLevels"
      />
    </template>
    <ISQDetail
       v-if="['icna', 'tseeac'].includes(input.corps)"
    />

    <template v-if="input.corps == 'tseeac'">
      <AnimatedTextInput
        label="Index prime part Tech"
        v-model="input.partTechTSHabil"
      />
    </template>

    <h4>Majorations géographiques</h4>
    <AnimatedSelector
      label="Zone de résidence"
      v-model="input.region"
      :items="[
        {desc: '0%', value:0},
        {desc: '1%', value:1},
        {desc: '3%', value:3},
      ]"
    />

    <AnimatedSelector
      label="Majo Nord/Nord-Est"
      v-model="input.pcs"
      :items="[
        {desc: 'Logement de fonction', value:60},
        {desc: 'Horaires de bureau', value:100},
        {desc: 'Opérationnel', value:150},
      ]"
      v-show='input.siteData?.pcs == "1"'
      :class="input.getStatus('pcs')"
    />

    <h4>Date de validité</h4>
    <label for="validity">(Expérimental)</label>
    <input
      type="date"
      id="validityWidget"
      name="validity"
      :value="validityDate.toISOString().slice(0,10)"
      min="2018-01-01"
      :max="new Date().toISOString().slice(0,10)"
      @change="changeDate"
    />

    <a id="bugreport" :href="genMailTo">✉ Envoyer un rapport de bug</a>
    <p>Version {{version}}</p>
  </div>
</template>

<style scoped>
/* layout */
.comp {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  height:fit-content;
}
h3, h4, a, p.legend {
  grid-column: span 4;
}
select {
  grid-column: span 3;
}
.animated-input {
  grid-column: span 4;
  display: grid;
  grid-template-columns: subgrid;
}
.toggle-button {
  grid-column: span 4;
  display: grid;
  grid-template-columns: subgrid;
}



a {
  margin-top:.5em;
  text-align: center;
}
#validityWidget {
  grid-column: 2 / 4;
}
#bugreport {
  margin-top: 2.5em;
}
</style>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';

import ToggleButton from '@/components/input/widgets_general/ToggleButton.vue';
import AnimatedTextInput from '@/components/input/widgets_general/AnimatedTextInput.vue';
import AnimatedSelector from '@/components/input/widgets_general/AnimatedSelector.vue';
import PEQIessa from '@/components/input/widgets_specific/PEQIessa.vue';
import ISQDetail from '@/components/input/widgets_specific/ISQDetail.vue';
import RistExperience from '@/components/input/widgets_specific/RistExperience.vue';
import SitePicker from '@/components/input/wizard/SitePicker.vue';

import {
  frenchDatestrToDate,
  dateToFrenchDatestr,
  capitalizeFirstLetter,
} from '../../../../src/old_js/utils';

const store = useStore();
const { input } = store.state;

const dp = computed(() => store.getters.paysheet.dp);

const possibleGrades= computed(() => dp.value.getGrades(input.corps));

const expe2016IessaLevels = computed(
  () => {
    if (input.validity || true) {
      return Object.entries(dp.value.expe2016IessaLevel).map(([key, value]) => ({
        desc: value,
        value: key,
       }))
    }
  },
);

const genMailTo = computed(() => (
  'mailto:contact-project+usaccgt-gwenneg-52688453-issue-@incoming.gitlab.com?subject=rapport de bug&body=Bonjour,%0d%0a'
  + 'J\'ai rencontré un problème avec les paramètre ci-dessous.%0d%0aJe m\'attendais à: %0d%0a'
  + `%0d%0a%0d%0a%0d%0a ${JSON.stringify(input, null, 2).replace(/\n/g, '%0d%0a')}`
  + `%0d%0a%0d%0aVersion ${version.value}`
));

function receiveSite(newSite) {
  store.dispatch('setSite', newSite);
}

const validityDate = computed(() => frenchDatestrToDate(input.validity));

function changeDate(e) {
  const d = new Date(e.target.value);
  store.dispatch('setDate', dateToFrenchDatestr(d));
}
const version = computed(() => __VUE_APP_SEMVER_STRING__);
</script>

<script>
export default {
  components: {
    AnimatedTextInput,
    PEQIessa,
    SitePicker,
    RistExperience,
    ISQDetail,
  },
  name: 'ExpertForm',
};
</script>
