<template>
<!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->
<!-- eslint-disable vuejs-accessibility/mouse-events-have-key-events -->
      <SimpleForm/>

      <toggle-button
        label="Afficher cas particuliers"
        title="Offre plus de paramètres"
        class="mobile"
        v-model="simple"
        :map="{true: false, false: true}"
      />
      <div class="collapsable" :class="{collapsed: simple, expanded: !simple, preview:preview, first:first}"
        @mouseenter="preview = simple"
        @mouseleave="preview = false"
        @click="simple = preview && ! simple; preview = false;"
        >
        <ExpertForm v-show="!simple || preview" />
          <div class="expand"
         @click.stop="simple = !simple ; preview = false"
         :title="(simple ? 'Afficher': 'Cacher') +' mode détaillé'">
          <template v-if="preview">
            <p v-for="n in 100" :key="n">▸</p>
          </template>
          <template v-else-if="simple">
            <p v-for="n in 4" :key="n">▸</p>
            <div class="simple-legend">Cas particuliers</div>
            <p v-for="n in 90" :key="n">▸</p>
          </template>
          <template v-else><p v-for="n in 100" :key="n">◂</p></template>
        </div>
      </div>
      <div id="resetContainer">
        <button id="resetButton" class="btn" @click="store.dispatch('resetState')">
          Effacer le formulaire et repartir de zéro
        </button>
      </div>
      <div class="recap" v-show="isDev">
        <hr>
        <span v-for="field in Object.keys(input)" :key="field"> {{field}}: {{input[field]}}</span>
        <hr>
        <span v-for="action in store.state.actions" :key="action"> {{action}} </span>
      </div>
</template>

<style scoped>
/* layout */

aside > .comp {
  /* required to hide ExpertForm*/
  background-color: inherit;
  border-radius:inherit;
}

.collapsable {
  background-color: rgba(var(--secondary-lt2-color-split), .95);
  border-radius: 0 var(--baseline) var(--baseline) 0;
  position: absolute;
  left:100%;
  margin:1em 0 1em 0;
  top:0;
  bottom:0;
  display:flex;
  z-index:-1;
}


.expanded, .collapsed:hover {
  width:30vw;
}

@media (max-width: 1024px) {
  .expanded, .collapsed:hover {
    width:50vw;
  }
}

@media (min-width: 800px) {
  .collapsed {
    width:1em;
    overflow: clip;
  }

  .expanded.first {
    animation: v-bind(firstVisitAnim) ease-in goRight forwards;
  }
  .collapsed:hover {
    animation: .5s rotatePreview forwards;
    left: 35%;
    z-index:-1;
    cursor: pointer;
  }
  @keyframes rotatePreview {
    from { rotate: 0deg; }
    to   { rotate: 3deg; }
  }
  .expanded > div.comp > h3 {
    animation: .3s ease-in-out rotateBack forwards;
  }
  .expanded:not(.first) {
    left:100%;
    animation: .3s ease-in-out goLeft forwards;
  }
  @keyframes goLeft {
    from {
      left: 30%;
      rotate: 3deg
    }
    to {
      left: 100%;
      rotate:0deg;
  }
  }
  @keyframes goRight {
    from {
      left: 100%;
    }
    to {
      left: 30%;
    }
  }
}

@media (max-width: 800px) {
  .collapsed {
    display:none;
  }
  .expand {
    display: none;
  }
  .collapsable {
    position: static;
    width: 95%;
    padding: 1em;
    border-radius: var(--baseline);
  }
}

.expand {
  flex: 0 0 auto;
}

.expanded > .expand {
  backdrop-filter: grayscale(50%);
  cursor: pointer;
  overflow: hidden;
}

.simple-legend {
  writing-mode: vertical-lr;
  transform-origin: 40% 50%;
  rotate:180deg;
  font-size: .7em;
}

.expand > p {
  margin: 0;
}

.recap {
  grid-column: span 4;
}
.recap span {
  display:block;
}

#resetContainer {
  padding: 1em;
  display:flex;
  justify-content: center;
}
</style>
<style>
/* FIXME refactor
 * ou placer ce code ? aside n'est pas dans le composant, ce code n'est nécessaire que pour le
 *  menu détaillé en tirette
 */
aside {
  position: relative;
  z-index:1;
}

.collapsable > div.comp > h3 {
  transform-origin: 92% 20%;
}
.preview > div.comp > h3 {
  rotate: -90deg;
  background-color: rgba(var(--secondary-lt2-color-split), .5);
  color: #333;
}

@keyframes rotateBack {
  from {
    rotate: -90deg;
    color: #333;
  }
  to {
    rotate: 0deg;
    color: var(--secondary-color);
 }
}

.gridfullwidth, .form-container {
  grid-column: 1 / -1;
}
.form-container {
  display: grid;
  grid-template-columns: subgrid;
}

.form-container > .number-input,
.form-container > .animated-input,
.form-container > .toggle-button,
.form-container > .abonnement-transport {
  grid-column: span 4;
  display: grid;
  grid-template-columns: subgrid;
}
.fullwidth {
  grid-column: 1 / -1;
}

p.legend {
  font-style: italic;
}

.animated-input > select {
  grid-column: 2 / -1;
}

.btn-outline-primary {
  color: black;
}
.btn.active, .btn:hover, .btn:active:focus {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color:white;
}
.btn {
  background-color: var(--secondary-lt2-color);
  border: 1px solid var(--secondary-color);
}

h4 {
    margin-top:.25em;
}

</style>

<script setup>
import { ref, computed, onMounted } from 'vue';
import { useStore } from 'vuex';

import SimpleForm from '@/components/input/SimpleForm.vue';
import ExpertForm from '@/components/input/ExpertForm.vue';
import ToggleButton from '@/components/input/widgets_general/ToggleButton.vue';


const store = useStore();
const { input } = store.state;

const simple = ref(true);
const preview = ref(false);
const isDev = computed(() => import.meta.env.NODE_ENV === 'development');

const first = ref(false);
const fva = 600;
const firstVisitAnim = computed(() => `${fva / 1000}s`)

if (localStorage.visited == undefined) {
  simple.value = false;
  first.value = true;

  onMounted(() => {
    window.setTimeout(() => {
      simple.value = true,
      first.value = false,
      localStorage.visited = new Date();
    }, fva)
  } )
}
</script>

<script>
export default {
  name: 'InputForm',

};
</script>
