<template>
<!-- eslint-disable vuejs-accessibility/form-control-has-label -->
<div class="comp">
  <div class="form-block form-container">
    <CorpsPicker
      :items="['iessa','ieeac','icna','tseeac']"
      v-model=input.corps
    />

  <SitePicker
    :corps="input.corps"
    :currentSite="input.site"
    withMap
    filterByCorps
    @site="receiveSite"
  />
  <toggle-button
        label="1ère affectation"
        title="sur ce site. (Une prime peut-être accordé pour les agents affecté sur site à la sortie de l'ENAC)"
        v-show = "input.siteData?.estDansZoneAttractivite2023()"
        :map="{true:1,false:0}"
        v-model="input.sortieENAC"
        :class="input.getStatus('sortieENAC')"
      />

  </div>

 <div class="form-block form-container">
   <CarriereGeneric @carriere="copieCarriere" :corps="input.corps" />
   <CarriereTSEEAC @carriere="copyToInput" v-show="input.corps == 'tseeac'" />
   <AnimatedSelector
      label="Attractivité"
      title = "Prime attractivité sortie école"
      v-show = "input.corps == 'tseeac' && input.siteData?.estDansZoneAttractivite2023()"
      v-model="input.attractivite2546"
      :items="[
        { value:0, desc:'Non' },
        { value:1, desc:'MU ZZ + 1 an' },
        { value:2, desc:'Licence DSAC niveau 2 + 1 an'},
        { value:3, desc:'4 ans d\'affectation'}
        ]"
      :class="input.getStatus('attractivite2546')"
      />
      <AnimatedSelector
      label="Attractivité"
      title = "Prime attractivité sortie école"
      v-show = "input.corps == 'ieeac' && input.siteData?.estDansZoneAttractivite2023()"
      v-model="input.attractivite2546"
      :items="[
        { value:0, desc:'Non' },
        { value:3, desc:'4 ans d\'affectation'}
        ]"
      :class="input.getStatus('attractivite2546')"
      />


   <div id="carriere-iessa" class="form-container" v-show = "input.corps == 'iessa'">
     <PEQIessa
      v-model="input.peq"
      :class="input.getStatus('peq')"
      />
      <AnimatedSelector
      label="Fidélisation"
      title = "Prime spécifique Athis-Reims-Orly"
      v-show = "['LFEE', 'LFFF', 'LFPO'].includes(input.site)"
      v-model="input.QTPourMajoGeographique"
      :items="[
        { value:0, desc:'Pas de QT ou QT < 4ans' },
        { value:2, desc:'QT + 4 ans'}
        ]"
      :class="input.getStatus('QTPourMajoGeographique')"
      />
    </div>
   <CarriereICNA @carriere="copyToInput" v-show="input.corps == 'icna'" />
  <toggle-button
    label="NBI"
    title="Accordé sous condition, ou au plus tard à 35 ans"
    :map="{true:1,false:0}"
    v-model="input.nbi"
    :class="input.getStatus('nbi')"
  />
 </div>

  <div class="form-block form-container">
    <h3>Fonction</h3>
    <template v-if="input.site?.length > 0">
      <toggle-button
        label="Encadrement"
        :map="{true:1,false:0}"
        v-model="input.showEncadrement"
        :class="input.getStatus('showEncadrement')"
        v-show="!['élève', 'stagiaire'].includes(input.grade)"
      />
      <EVSSelector class="form-container"/>
      <AnimatedSelector
      label="AE"
      title = "Détention d'une Autorisation d'Exercice sur ce site"
      v-show = "input.corps == 'iessa' && input.siteData?.estDansZoneAttractivite2023()"
      v-model="input.AeIessa"
      :items="[
        { value:0, desc:'Non' },
        { value:1, desc:'AE (moins d\'1 an)'},
        { value:2, desc:'AE + 1 an'},
        ]"
      :class="input.getStatus('AeIessa')"
      />
      <AnimatedSelector
      label="MU"
      title = "exercice le la mention d'unité totale ou restreinte de l'organisme"
      v-show = "input.corps == 'icna' && input.siteData?.estDansZoneAttractivite2023()"
      v-model="input.muzz"
      :items="[
        { value:0, desc:'Non / en formation' },
        { value:1, desc:'MU ZZ (moins d\'un an)' },
        { value:2, desc:'MU ZZ + 1an'},
        { value:3, desc:'totale ou restreinte + 4 ans'},
        ]"
      :class="input.getStatus('muzz')"
      />
      <div
        class="form-container"
        v-if="input.corps == 'icna'
          && ['ENAC', 'DTI', 'DO'].includes(input.site)
          && !['élève', 'stagiaire', 'normal'].includes(input.grade)"
      >
        <p class="legend fullwidth">Si maintien d'ISQ, choisissez les champs du terrain concerné.</p>
        <ISQDetail />
      </div>
      <ToggleButton
        v-show="input.corps == 'tseeac' && input.TSEtape == 6"
        label="Poste CTACable"
        :map="{true:1,false:0}"
        v-model="input.CTACable"
        :class="input.getStatus('CTACable')"
      />
    </template>
    <p class="fonction-placeholder" v-else>
      Saisissez votre centre et votre grade/échelon pour bénéficier de suggestions.
    </p>
  </div>

  <div class="form-block form-container">
    <h3>Vous</h3>
    <number-input label="Enfants à charge" v-model="input.famille" />
    <transport-select :site="input.siteData" v-model="input.rembt" />
    <number-input label="Compensation CSG"
      :model-value="input.indem_csg"
      @update:model-value="newValue => { input.indem_csg = newValue; trackCSG(newValue)}"/>
    <number-input label="Taux imposition" v-model="input.tauxIR" />
    <toggle-button label="Participation mutuelle" v-model="input.psc" />
  </div>
  <div class="form-block form-container">
    <h3>Ponctuel</h3>
    <number-input label="Jours télétravail" v-model="input.forfaitTeletravail"
    :title="`Limité à ${maxTeletravail} par an`"/>
    <number-input label="Nombre de nuits" v-model="input.nuit" />
    <astreinte v-model="input.ifa" />
  </div>

</div>
</template>

<style scoped>
/* layout */
.comp, .form-block {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(110px, 1fr) );
}

.form-block {
  gap: var(--baseline);
  padding: 1em;
  margin-left: -.5em;
  margin-right: 1em;
  border-radius: var(--baseline);
  background-color: var(--secondary-lt-color);
}


.form-container > select {
  grid-column: auto / -1;
}

.form-container > .fonction-placeholder {
  grid-column: span 4;
  color: grey;
}

h3 {
  grid-column: span 4;
  margin-bottom: unset;
}
.recap {
  grid-column: span 4;
}
.recap span {
  display:block;
}

/* fine-grain layout */
.comp {
  gap: var(--baseline-x2);
}
</style>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';

import { DataProviderFactory } from '@/../../src/old_js/data';

import CorpsPicker from '@/components/input/wizard/CorpsPicker.vue';
import SitePicker from '@/components/input/wizard/SitePicker.vue';
import EVSSelector from '@/components/input/wizard/EVSSelector.vue';
import PEQIessa from '@/components/input/widgets_specific/PEQIessa.vue';
import ISQDetail from '@/components/input/widgets_specific/ISQDetail.vue';
import Astreinte from '@/components/input/widgets_specific/Astreinte.vue';
import CarriereTSEEAC from '@/components/input/wizard/CarriereTSEEAC.vue';
import CarriereGeneric from '@/components/input/wizard/CarriereGeneric.vue';
import CarriereICNA from '@/components/input/wizard/CarriereICNA.vue';
import TransportSelect from '@/components/input/widgets_specific/TransportSelect.vue';
import ToggleButton from '@/components/input/widgets_general/ToggleButton.vue';
import NumberInput from '@/components/input/widgets_general/NumberInput.vue';
import AnimatedTextInput from '@/components/input/widgets_general/AnimatedTextInput.vue';
import AnimatedSelector from '@/components/input/widgets_general/AnimatedSelector.vue';

const store = useStore();
const { input } = store.state;
const dp = DataProviderFactory.getInstance();

function receiveSite(newSite) {
  store.dispatch('setSite', newSite);
}

function copieCarriere(newCarriere) {
  Object.keys(newCarriere).forEach((key) => {
    if (key !== 'name' && key !== 'label') {
      if (key === 'indiceMajo') {
        store.state.deduced[key] = newCarriere[key];
      } else {
        input[key] = newCarriere[key];
      }
    }
  });
}

function copyToInput(newObj) {
  Object.keys(newObj).forEach((key) => {
    if (key !== 'name' && key !== 'label') {
      input[key] = newObj[key];
    }
  });
}

function trackCSG(newV) {
  if (_paq && typeof _paq.push == 'function' ) {
    let context = {
      corps: input.corps,
      grade: input.grade,
      echelon: input.echelon
    };
    _paq.push(['trackEvent', 'CompensationCSG', JSON.stringify(context), newV, newV]);
  }
}

const maxTeletravail = computed(() => {
  input.validity;
  return dp.indemnite_teletravail != 0 ? Math.round(dp.indemnite_teletravail_max / dp.indemnite_teletravail) : 0;
})

</script>

<script>
export default {
  components: {
    SitePicker,
    ToggleButton,
    TransportSelect,
    NumberInput,
    CarriereGeneric,
    AnimatedSelector,
    ISQDetail,
  },
  name: 'SimpleForm',
};
</script>
