<template>
  <div class="about">
    <span v-html="mdContent"></span>
 </div>
</template>

<style>
.about {
  text-align: justify;
}
</style>

<script setup>
import { html as mdContent } from '../../../ABOUT.md';
</script>
