<template>
  <div class="contributing">
    <span v-html="mdContent"></span>
  </div>
</template>

<style>

</style>

<script setup>
import { html as mdContent } from '../../../CONTRIBUTING.md';

//const content = computed(() => mdContent);
</script>
