<template>
  <!-- eslint-disable vuejs-accessibility/label-has-for -->
  <!-- eslint-disable vuejs-accessibility/mouse-events-have-key-events -->
  <div class="paysheet-container">
    <table class="above-paysheet">
      <thead>
        <tr>
          <td>IDENTIFICATION</td>
          <td>GRADE</td>
          <td>ENFANTS À CHARGE</td>
          <td>ÉCH</td>
          <td>INDICE OU NB. D' HEURES</td>
          <td>TAUX HORAIRE OU NBI</td>
          <td>TEMPS PARTIEL</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>///</td>
          <td>{{input.corps}} / {{input.grade}}</td>
          <td>{{input.famille.toString().padStart(2, '0')}}</td>
          <td>{{input.echelon.toString().padStart(2, '0')}}</td>
          <td>{{paysheet.indice}}</td>
          <td>{{input.nbi ? paysheet.nbi_points.toString().padStart(3, '0') : ''}}</td>
        </tr>
      </tbody>
    </table>
    <p class="watermark">Simulation</p>
    <table id="paysheet">
      <thead>
        <tr>
          <th>CODE</th>
          <th>ÉLÉMENTS</th>
          <th>À PAYER</th>
          <th>À DÉDUIRE</th>
          <th>POUR INFORMATION</th>
        </tr>
      </thead>
      <tbody>
        <tr class="disclaimer">
          <td colspan="5">
            Le simulateur n'intègre pas encore l'ensemble des primes protocolaires. Merci de votre patience<br>
            Simulation crée par <a href="https://simulateur.usac-cgt.org/">Gwenneg</a>,
            le Simulateur de paye de <a href="https://usac-cgt.org/">l'USACcgt.</a><br>
            Les informations fournies par ce simulateur peuvent contenir des erreurs.
            Si vous en constatez, <a href="/contributing">merci de nous prévenir.</a>
          </td>
        </tr>
        <template
            v-for="line in sortedLines"
            :key="line.ref"
        >
        <tr v-if="line.amount != 0"
          :id="`row${line.ref}`"
          @click="(hasHover && link(line)) || (over(line, 0) && toggleTooltip(line))"
          @mouseover="hasHover && over(line)"
          @mouseleave="hasHover && leave(line)"
          :class="[{clickableLine: line.wikilink}, lineSignToClass[line.sign]]"
          :data-tooltip="moreInfo"
          >
          <td> {{line.ref.toString().padStart(6, "0")}}</td>
          <td v-if="line.wikilink">
            <a
              :id="`wikilink${line.ref}`"
              :href="line.wikilink"
              target="_blank" rel="noopener noreferrer"
              onclick="event.stopPropagation();"
            >
              {{line.desc}}
            </a>
          </td>
          <td v-else> {{line.desc}} </td>

          <td>
            <!-- eslint-disable max-len -->
            {{ (line.sign == "+" || line.sign == "horsimpot") && line.amount != 0 ? line.amount.toFixed(2) : ""}}
          </td>
          <td>
            {{ line.sign == "-" && line.amount > 0 ? line.amount.toFixed(2) : ""}}
          </td>
          <td>
            {{ line.sign == "0" && line.amount > 0 ? line.amount.toFixed(2) : ""}}
          </td>
        </tr>
        </template>
        <tr><td v-for="index in 5" :key="index">&nbsp;</td></tr>
        <tr><td v-for="index in 5" :key="index">&nbsp;</td></tr>
        <tr>
          <td>011100</td>
          <td>NET A PAYER AVANT IMPOT SUR LE REVENU</td>
          <td />
          <td />
          <td>{{paysheet.total}}</td>
        </tr>
        <tr v-if="paysheet.retenueIR">
          <td>558000 </td>
          <td>IMPOT SUR LE REVENU PRELEVE A LA SOURCE</td>
          <td />
          <td>{{paysheet.retenueIR}}</td>
          <td />
        </tr>
        <tr><td v-for="index in 5" :key="index">&nbsp;</td></tr>
        <tr><td v-for="index in 5" :key="index">&nbsp;</td></tr>
        <!-- <tr>
          <td></td>
          <td>{{(paysheet.total_pos + paysheet.cotisPatronales - paysheet.lines[604970].amount).toFixed(2)}}</td>
          <td>{{paysheet.total}}</td>
          <td>{{(paysheet.retenues+paysheet.retenueIR).toFixed(2)}}</td>
          <td>{{paysheet.cotisPatronales.toFixed(2)}}</td>
        </tr> -->
      </tbody>
    </table>
    <div class="bottom">
      <div class="bottomLeft">
      </div>
      <div class="bottomRight">
        NET À PAYER <span class="netir">{{paysheet.netir}}</span>
      </div>
    </div>
  </div>
</template>

<style scoped>
.paysheet-container {
    display:unset;
    grid-column: span 8;
}

.above-paysheet {
  overflow-wrap: anywhere;
}

table#paysheet {
  display:grid;
  grid-template-columns: fit-content(20%) 1fr fit-content(20%) fit-content(20%) fit-content(20%);
}
#paysheet>thead, #paysheet>thead>tr, #paysheet>tbody, #paysheet>tbody>tr {
  display: grid;
  grid-column: 1/6;
  grid-template-columns: subgrid;
}
.disclaimer > td {
  grid-column: 1/6;
}
#paysheet td:nth-child(2){
  padding-left: .5em;
}
/* allow wrap anywhere on 2nd column && apayer lines */
#paysheet .apayer td:nth-child(2) {
  overflow-wrap: anywhere;
}

thead {
    background-color: #4B5F74;
    text-align: center;
    color: white;
}
tbody > tr:nth-child(n+2):nth-child(odd) {
  background-color: #DADFEBE0;
}

tbody > tr > td:nth-child(n+3) {
    text-align: right;
}

tr.clickableLine {
  cursor: pointer;
}

.above-paysheet > thead > tr> td, .above-paysheet > tbody > tr> td {
  border-right: 1em;
  border-right-style: solid;
  border-right-color: white;
}
.above-paysheet > thead {
  font-size: .6em;
}

.bottom {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #DADFEB;
}
.bottomRight {
  color: #4B5F74;
  grid-column: span 2;
  padding: 2em;
}
.netir {
  color: black;
  background: white;
  font-weight: 600;
  border-style: none solid solid;
  border-width: 1px;
}

/* style des tooltip aperçu du wiki */
tr.clickableLine::after {
  content: attr(data-tooltip);
  margin-top: 1.8em;
  padding: 5px;
  font-size: 12px;
  background-color: rgba(150, 150, 150, 0.9);
  border-radius: 4px;
  /* transform: translate3d(0, -100%, 0); */
  pointer-events: none;
}

/* affichage des tooltip en CSS */

@media (hover: hover) {
  tr.clickableLine::after {
    position: absolute;
    width: 40em;
    left: 50%;
    /* top:2em; */
    opacity: 0;
    transition: all 0.2s ease-out;
  }
  tr.clickableLine:hover::after {
    opacity: 1;
  }
}
@media (hover: none) {
  tr.clickableLine::after {
    grid-column: 1/6;
    display:none;
    opacity: 0;
    transition: all 0.2s ease-out;
  }
  tr.clickableLine.showTooltip::after {
    display:block;
    opacity: 1;
  }
}

.watermark {
  position:absolute;
  color: #DADFEB80;
  font-size: 70pt;
  transform: translateY(2.28em) translateX(50%) rotate(-45deg);
  z-index: -10;
}
.disclaimer {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--font-light-color);
  font-family: var(--mono-text);
}
.disclaimer a, .disclaimer a:link, .disclaimer a:visited { color: var(--font-light-color) }
.disclaimer a:focus, .disclaimer a:hover, .disclaimer a:active { color: var(--primary-color);  }
</style>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';

export default {
  name: 'ViewerPaye',
};
</script>

<script setup>

const store = useStore();
const { input } = store.state;

const paysheet = computed(() => store.getters.paysheet);

const sortedLines = computed(
  () => [...flattedLines.value].sort((a, b) => a.ref > b.ref),
);

const flattedLines = computed(
  () => Object.values(paysheet.value.lines).flat(),
);
const hasHover = computed(
  ()=>window.matchMedia("(hover: hover)").matches
)

const hasntHover = computed(
  () => ! hasHover.value
)

const moreInfo = computed(
  () => hasHover.value ?
    "Plus d'info sur le wiki USAC."
    : "Cliquer sur le lien pour accéder au wiki USAC."
);

function link(line) {
  document.getElementById(`wikilink${line.ref}`)?.click();
}

const lineSignToClass = {
  "+": "apayer",
  "horsimpot": "apayer",
  "-": "adeduire",
  "0": "pourinfo",
}

const timeouts = {};
/* chargement de l'extrait wiki uniquement lors d'une pause sur une ligne */
function over(line, timeout=400) {
  if (line.wikiTitle && !timeouts[line.ref]) {
    timeouts[line.ref] = window.setTimeout(() => updateTitle(line), timeout);
  }
  // required to chain with &&
  return true;
}

function leave(line) {
  clearTimeout(timeouts[line.ref]);
  delete timeouts[line.ref];
}

function toggleTooltip(line) {
  let needAdd = !document.getElementById(`row${line.ref}`).classList.contains("showTooltip");
  [...document.getElementsByClassName("showTooltip")].forEach(
    e=>e.classList.remove("showTooltip")
  )
  if (needAdd) {
    document.getElementById(`row${line.ref}`).classList.add("showTooltip");
  }
}

async function updateTitle(line) {
  const extract = await line.wikiextract();
  if (extract) {
    const row = document.getElementById(`row${line.ref}`);
    row.setAttribute('data-tooltip', `${extract}\n${moreInfo.value}`);
  }
}

</script>
