<template>
  <Foldable
    label="Indemnité d'astreinte"
    class="astreinte-selector"
    :removeTarget="modelValue"
    @unset="onUnset"
  >
    <div class="form-container">
      <NumberInput v-model="semaine" label="Semaine" @update:modelValue="updateIFA"/>
      <NumberInput v-model="weekend" label="Weekend" @update:modelValue="updateIFA"/>
      <NumberInput v-model="we3j" label="Weekend 3J" @update:modelValue="updateIFA"/>
      <NumberInput v-model="jfi" label="Jour ferié isolé" @update:modelValue="updateIFA"/>
      <div class="rightOrBottom">
        <div class="line" title="calculé d'après les autres champs">
          <span class="arrow">→</span>
          <input
            id="inputIFA"
            size=5
            disabled
            :value="modelValue"
            @input="$emit('update:modelValue', $event.target.value)"
          />
        </div>
      </div>
    </div>
  </Foldable>
</template>

<style scoped>
.astreinte-selector {
  /* required for RemoveButton position*/
  position: relative;
}

.rightOrBottom {
    grid-area: 1 / 3 / 5 / -1;
    display:flex;
}
.form-container {
  container: astreinte / inline-size;
}

@container astreinte (max-width: 330px) {
  .rightOrBottom {
    grid-area: auto / 1 / auto / -1;
  }
}

.line {
  align-self: center;
}

.form-container > .number-input {
    grid-column: span 2;
}

</style>

<script setup>
import { computed, ref, watch } from 'vue';

import Foldable from '@/components/input/widgets_general/Foldable.vue';
import NumberInput from '../widgets_general/NumberInput.vue';

const semaine = ref();
const weekend = ref();
const we3j = ref();
const jfi = ref();

defineProps({
  modelValue: {
    type: Number,
  },
});

const emit = defineEmits(['update:modelValue']);

function onUnset() {
  semaine.value = "";
  weekend.value = "";
  we3j.value = "";
  jfi.value = "";
  setIFAValue(undefined);
}

function updateIFA() {
    let values = [semaine, weekend, we3j, jfi].map(r => {
        let n = parseInt(r.value);
        return isNaN(n) ? 0 : n;
    });
    setIFAValue(
        values[0]
        + values[1] * .5
        + values[2] * .65
        + values[3] * .3
    )
}

function setIFAValue(v) {
  document.getElementById('inputIFA').value = v;
  emit('update:modelValue', v);
}
</script>

<script>
export default {
  name: 'TransportSelect',
  components: {
    Foldable,
  }
};
</script>
