<template>
  <div class="form-container">
    <AnimatedSelector
      label="Part Licence (ISQ)"
      v-model="input.licence"
      :items="partLicenceLevels"

      :class="input.getStatus('licence')"
    />

    <AnimatedSelector
      label="Groupe de terrain"
      v-model="input.groupe"
      :items="genGroupe"
      v-if="dp.isBeforeProtocole2023()"
      :class="input.getStatus('groupe')"
    />
    <AnimatedSelector
      v-else
      label="Liste de terrain"
      v-model="input.liste"
      :items="genListe"
      :class="input.getStatus('liste')"
    />
  </div>
</template>

<style scoped>
</style>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';
import { DataProviderFactory } from '@/../../src/old_js/data';

import AnimatedSelector from '@/components/input/widgets_general/AnimatedSelector.vue';

const store = useStore();
const { input } = store.state;
const dp = DataProviderFactory.getInstance();

const partLicenceLevels = computed(() => {
  /* read input.validity to react to date change, otherwise partLicenceLevel which
     is date dependant would not be refreshed.
  */
  if (input.validity || true) {
    return [...dp.partLicenceLevel].map((item) => ({
      desc: item.name,
      value: item.partLicence,
    }))
  }
});

const genGroupe = computed(() => {
  const groupes = ['A6', 'A5', 'A4', 'A3', 'A2', 'A1', ...'BCDEFG'];
  return groupes.map((l) => ({
    desc: `Groupe ${l}`,
    value: l,
  }));
});
const genListe = computed(() => {
  return [...Array(11).keys()].map((l) => ({
    desc: `Liste   ${l+1}`,
    value: l+1,
  }))
});

</script>

<script>
export default {
  name: 'ISQDetail',
};
</script>
