<template>
    <Foldable
      label="Abonnement transport"
      class="abonnement-transport"
      :removeTarget="modelValue"
      @unset="onUnset"
    >
      <div class="form-container">
        <template v-if="site?.transport">
          <template v-for="abo in Object.keys(site.transport)" :key="abo">
          <button
            :data="site.transport[abo]"
            class="abo btn"
            @click="copyPriceToInput($event)">
              {{abo}}
          </button>
        </template>
        </template>
        <input id="inputAbo" size=4 v-model="prixAbo"/>
        <div>
          <span class="arrow">→</span>
          <input
            id="inputRembt"
            size=4
            disabled
            :value="modelValue"
            @input="$emit('update:modelValue', $event.target.value)"
          />
        </div>
      </div>
    </Foldable>
</template>

<style scoped>
.abo {
  grid-column: 1;
}

.abonnement-transport {
  /* required for RemoveButton position*/
  position: relative;
}
</style>

<script setup>
import { computed, ref, watch } from 'vue';
import { useStore } from 'vuex';

import Foldable from '@/components/input/widgets_general/Foldable.vue';

const prixAbo = ref();

const store = useStore();
const dp = computed(() => store.getters.paysheet.dp);

defineProps({
  site: {
    type: Object,
  },
  modelValue: {
    type: Number,
  },
});

const emit = defineEmits(['update:modelValue']);

function onUnset() {
  setRembtValue(undefined)
  prixAbo.value = "";
}

watch(prixAbo, (newV, oldV) => {
  if (!Number.isNaN(parseFloat(newV))) {
    const raw = parseFloat(newV) * (dp.value.tauxAboTransport);
    const round = Math.round(raw*100)/100;
    setRembtValue(round);
  }
});

function setRembtValue(v) {
  document.getElementById('inputRembt').value = v;
  emit('update:modelValue', v);
}

function copyPriceToInput(e) {
  prixAbo.value = parseFloat(e.target.getAttribute('data'));
}
</script>

<script>
export default {
  name: 'TransportSelect',
  components: {
    Foldable,
  }
};
</script>
