<template>
  <div>
    <p>Dernière mise à jour le {{ buildDate }}.</p>
  </div>
</template>

<script lang="ts">

export default {
  computed: {
    buildDate: () => __BUILD_DATE__,
  },
};

</script>
